#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv

use_sops() {
  local path="$1"
  # This is defined in devshell.toml
  eval "$(sops -d "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

dotenv_if_exists "$(pwd)/local.env"
watch_file "$(pwd)/local.env"
use sops secrets.env
